<div class="container mt-5 pt-5">
  <h1 class="text-center mt-5 mb-4">本当に退会しますか？</h1>

  <p class="lead text-center">
    退会すると、会員登録情報や<br>
    これまでの投稿内容が閲覧できなくなります。<br>
    また、ページを閲覧するには<br>
    再度、新規会員登録が必要です。<br>
    退会する場合は、「退会する」をクリックしてください。
  </p>

  <div class="text-center">
    <%= link_to "退会しない", end_users_mypage_path, class: "btn btn-secondary mr-3" %>
    <%= link_to "退会する", end_users_withdraw_path, method: :patch, data: { confirm: "本当に退会しますか？" }, class: "btn btn-danger" %>
  </div>
</div>