<div class="container mt-5 pt-5">
  <div class="text-center">
    <h2>管理者トップページ</h2>
    <div class="mt-4">
      <%= link_to "会員一覧", admin_end_users_path, class: "btn btn-outline-primary btn-lg mb-3 d-block" %>
      <%= link_to "投稿一覧", admin_posts_path, class: "btn btn-outline-secondary btn-lg mb-3 d-block" %>
      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-danger btn-lg d-block" %>
    </div>
  </div>
</div>